<!-- timeouts for each team -->
<div class="team-timeouts">
	<div class="timeout-circle {{#if timeout}}true{{/if}} add-timeout"></div>
</div>

<!-- score for each team -->
<div class="scoreboard-points editable" style="border-color: {{team_color}};display: inline-block;" contenteditable="true">
    {{points}}
</div>

<!-- team fouls for each team -->
<div class="team-fouls">
    {{#foulCount fouls}}
        <div style="" class="foul-circle add-foul"></div>
    {{/foulCount}}

    {{#if bonus}}
        <span class="bonus true">bonus</span>
    {{/if}}

    {{#if dblbonus}}
        <span class="bonus true">double bonus</span>
    {{/if}}

</div>

