<div class="scoreboard">
	<div class="sb row">
	    <div class="scores"></div>
	    <div class="clock center">
		  <div class="score-data-circle">
			  <div class="scoreboard-time">
			      20:00
			  </div>
		  </div>
	    </div>
	</div>
</div>