@keyframes myfirst {
    0% {
        left: 67px;
        top: 0px;
    }
    100% {
        left: 87px;
        top: -20px;
    }
}

#basketball {

    .test {
        transition: 1s all ease; 
        height: 1px; 
        width: 0%;
        float: left;
    }

    .teams-box {
        margin-top: 30px;
    }

	.col-xs-3 {
	    width: 22%; // change col-xs-3 for more room
	}
    
    h6 {
	    color: #fff;
	}

	.choose-team {
		position: fixed;
		left: 0;

		li {display: block}
	}
    
	.team{
	    background-color: #FEFEFE;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        border-radius: 3px;
	    margin: 0 0 2px 0;
	    text-align: center;

        &:first-child { margin-bottom: 30px; }
        

        // inside statisticals move that here
        .statisticals {
            // color: #99a5a8;
            // border-bottom: 1px solid #F1F2F4;
            // font-family: "brandon-grotesque",Helvetica, Arial, sans-serif;
            // font-size: 11px;
            // height: 45px;
            // letter-spacing: 1px;
            // background-color: #fff;
            // line-height: 24px;
            // padding: 10px 0;
            // text-transform: uppercase;
            // z-index: 10;
            // border-radius: 3px 3px 0 0;
            color: #646f73;
            border-bottom: 1px solid #F1F2F4;
            font-size: 11px;
            height: 45px;
            letter-spacing: 1px;
            background-color: #fff;
            line-height: 24px;
            padding: 10px 0;
            text-transform: uppercase;
            z-index: 10;
            border-radius: 3px 3px 0 0;
            .column {
                .short { display: none; }
                .long  { display: block;}
            }
            .team-changes {
                color: #646f73;
                cursor: pointer;
                display: inline;
                left: 24px;
                font-size: 13px;
                position: absolute;
            }
            .team-name {
                color: #646f73;
                display: inline;
                margin-left: 30px;
            }
        }

	    .the-players {
		    padding: 0;
            overflow: hidden;
	    }

	    li {display: inline-block}

        .players-wrap.go {
        	.player:before {
        		background-color: rgba(221, 107, 79, 0.8);
			    bottom: 0;
			    content: "";
			    display: block;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
        	}
        }
        &.subbing {
        	.players-wrap {
	        	display: block !important;
            }
        }

        .players-wrap {
            position: relative;
            z-index: 0;
            &:nth-child(odd) {
                background-color: #f2f5f6;
            }
            &.hover, &.hover-clicked {
                z-index: 9; 
            }
        }
        .players-wrap.hover .player  {
        	cursor: pointer;     	
        	.column.stat.data {
            	color: $brand-primary;
            }
            .column.stat.name {
                span.face {
                    //box-shadow: 0 0 0 3px #00C8D7;
                }
            }
        }
        .players-wrap.hover-clicked .player  {
        	cursor: pointer;       	
        	.column.stat.data {
            	color: $brand-primary;
            }
        }
	    .player { 
            height: 63px; // this should determine the height
			position: relative;
			opacity: 1;
			z-index: 9;
            &:hover {
                background-color: #eee;
                .column.stat.name .player-buttons {
                    opacity: 1; // show player buttons on hover
                }
            }
            .column.stat {
			    color: #435155;
			    font-size: 13px;
                white-space: nowrap;
            }
            .column.stat.name {
            	text-align: left;
                padding: 0;
                height: 100%;
                font-weight: 600;
                span.face {
                    background-color: #fff;
                    display: block;
                    width: 65px;
                    height: 100%;
                    float: left;
                    position: relative;
                    overflow: hidden;
                }
                .player-buttons {
                    width: 40px;
                    float: left;
                    position: relative;
                    height: 100%;
                    opacity: 0;
                    z-index: 999;
                    .buttons {
                        cursor: pointer;
                        float: left;
                        color: #777;
                        text-align: center;
                        font-size: 12px;
                        line-height: 23px;
                        font-family: monospace;
                    }
                    .buttons.top-button, .buttons.bottom-button {
                        width: 39px; 
                        height: 50%;
                        background-color: #fff;
                        border-right: 1px solid #ebebeb; 
                    }
                    .buttons.top-button { 
                        border-bottom: 1px solid #ebebeb;
                    }
                    .buttons.middle-button {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        margin: auto;
                        bottom: 0;
                        right: 25px;
                        color: #fff;
                        border: 4px solid #fff;
                        background-color: #4BA0F1;
                        border-radius: 100em;
                    } 
                    .button.bottom-button{
                        border-bottom: 1px solid #ebebeb; 
                    }
                }
                .the-name {
                    text-align: left;
                    margin-left: 30px;
                    span {
                        margin-left: 10px;
                    }
                    &.settings-name {
                        margin-left: 85px;
                    }
                    &.subbing-name {
                        margin-left: 100px;
                    }
                }
            }
            .column.stat.data {
			    text-align: center;
                .active-add-stat {
                    //border: 2px solid #555;
                    padding: 0px;
                    width: 24px;
                    height: 24px;
                    line-height: 21px;
                    text-align: center;
                    margin: auto;
                } 
                .stat-add-button {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 67px;
                    top: 0px;
                    margin: auto;
                    bottom: 0;
                    cursor: pointer;
                    line-height: 20px;
                    z-index: 9;
                    color: #fff;
                    background-color: #4BA0F1;
                    border-radius: 100em;
                    opacity: 0;
                } 
                &:hover {
                    cursor: pointer;
                    .stat-add-button {
                        opacity: 1;
                        animation-name: myfirst;
                        animation-duration: 0.4s;
                        animation-timing-function: linear;
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: alternate;
                        animation-fill-mode: forwards;
                    }
                }     	
            }
            .column.stat.data, .the-name {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .column.stat.data.fouls {
            	font-size: 10px;
            	padding: 0;
            	text-shadow: none;
                .foul-circle {
                    background-color: #aed991;
                    width: 6px;
                    height: 6px;
                    border: 1px solid #aed991;
                    position: relative;
                    display: inline-block;
                    margin: 0 2px;
                    &.has-foul {
                        background-color: #f38079;
                        border: 1px solid #f38079;
                    }
                }
            }
            .column.stat.filler {
            	background-color: #fff;
            }
            .column.points.make:first-child, .column.points.miss:first-child {
            	border-right: 0 none;
            	border-radius: 5px 0 0 5px;
            }
            .column.points.make, .column.points.miss {
            	border: 1px solid #CCCCCC;
            	box-shadow: -1px 1px 1px 0 rgba(255, 255, 255, 0.8) inset, 1px -1px 1px 0 rgba(255, 255, 255, 0.8) inset;
			    color: #2C6DC5;
			    cursor: pointer;
			    font-size: 7px;
			    height: 34px;
			    line-height: 35px;
			    position: relative;
			    text-transform: uppercase;
			    top: 21px;		    
            }
            .column.points.make:last-child, .column.points.miss:last-child {
            	border-left: 0 none;
            	border-radius: 0 5px 5px 0;
            }
            .column.points.make:hover {
                color: #009855;
            }
            .column.points.miss:hover {
                color: #da4632;
            }

	    }

	}
	
}