@keyframes round{   
  25%{opacity:1;}
  40%{opacity:0;}
} 

.chart {
	position: absolute;
	right: 0;
	background: #f2f5f6;
	height: 100%;
	padding: 0;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	canvas {
		position: absolute;
		left: -2px;
		bottom: -23px;
	}
    
    .leader {
    	background-color: #eee; 
    	height: 230px;
		.leader-block {
		    position: absolute;
			animation: round 16s infinite;
			opacity: 0;
			left: 0;
			height: 230px;
			right: 0;
			padding: 20px;
			.image-underlay {
				display: block;
				position: absolute;
				background-image: url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/10391463_327068744148218_2615917125338440679_n.jpg?oh=13639c7adc95be801ca2a45d33bc79c6&oe=550B223D&__gda__=1423162496_ed251156bb11c8d4cb6297f6f8bdf746);
				width: 100%;
				height: 100%;
				background-size: cover;
				filter: blur(1px);
				z-index: -1;
				opacity: 0.1;
				top: 0;
				left: 0;
			}
			img {
				height: 49px; 
				width: 49px; 
				margin: auto;
			}
			.player-name {
				border: 2px solid;
				padding: 4px;
			}
			h1 {
				font-size: 50px; 
				margin: 15px 0 0 0;
			}
		}
	}

	.leader-block:nth-child(4){animation-delay:12s;}
	.leader-block:nth-child(3){animation-delay:8s;}
	.leader-block:nth-child(2){animation-delay:4s;}
	.leader-block:nth-child(1){animation-delay:0s;}

	.share-game {
		text-align: center;
		padding: 20px 0;
		background-color: #fff;
		.post-stats {
			border-radius: 0; 
			border: 1px solid; 
			color: #0a46cd;
		}
	}

	.chart-wrapper {
		.chart-game-info {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: 11px;
			text-align: center;
			span.first {
				width: 5px; height: 5px; 
				border-radius: 100em;
				margin-right: 5px;
				display: inline-block;
				margin-bottom: 3px;
			}
			span.second {
				width: 5px; 
				height: 5px; 
				border-radius: 100em;
				display: inline-block;
				margin-left: 5px;
				margin-bottom: 3px;
			}
		}
	}


}