.nav > li > a > img {
    max-height: 25px;
    margin-right: 5px;
    margin-top: -5px;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  .nav-objects-flex {
    display: flex;
    align-items: center;
  }
}

// =========== General button styles & variables =======================================//
button{
  display:inline-block;
  margin: 0 1em;
  border:none;
  background:none;
  
  span{
    display:block;
  }
}

$color : #333;
$transition: .3s;// increase this to see the transformations happen in slow motion



/* ====================== lines button ==================================================*/

$button-size : 3rem; 
//common to all three-liners
.lines-button {
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
/* */
  &:hover {
  }
  &:active {
    transition: 0;
  }
  &:focus {
    outline: 0 none;
  }
}
//common to all three-liners
@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color; 
  transition: $transition;
}
//common to all three-liners
.lines {
  //@include line;
  position: relative; 
  display: inline-block;
  width: 3rem;
  height: 2px;
  background: #333;
  transition: 0.3s;

  &:before, &:after {
   // @include line;
   //  position: absolute;
   //  left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #333;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
  }
  &:before { 
    //top: $button-size/4;
    top:6px; 
  }
  &:after { 
    //top: -$button-size/4; 
    top:-6px; 
  }
}

//common to all three-liners
// .lines-button:hover {
//   .lines {
//     &:before { 
//       top: $button-size/3.5; 
//     }
//     &:after { 
//       top: -$button-size/3.5; 
//     }
//   }
// }
.lines-button.close-menu {
  -webkit-transform: scale3d(.8,.8,.8);
          transform: scale3d(.8,.8,.8);
}
// for both the arrow up and left icons
.lines-button.arrow.close-menu {
    .lines {
      &:before,
      &:after {
        top: 0;
        width: $button-size/1.8;
      }
      &:before { 
        -webkit-transform: rotate3d(0,0,1,40deg); 
                transform: rotate3d(0,0,1,40deg); 
      }
      &:after { 
        -webkit-transform: rotate3d(0,0,1,-40deg); 
                transform: rotate3d(0,0,1,-40deg); 
      }
    }
}

//arrow up only: just rotate by 90degrees
.lines-button.arrow-up.close-menu {
  -webkit-transform: scale3d(.8,.8,.8) rotate3d(0,0,1,90deg);
          transform: scale3d(.8,.8,.8) rotate3d(0, 0, 1,90deg);
}
//three-lines to minus only
.lines-button.minus.close-menu{
  .lines {
    &:before, &:after{
      -webkit-transform: none;
              transform: none;
      top:0;
      width: $button-size;
    }
  }
}

//three-lines to x
.lines-button.x.close-menu{
  .lines {
    background: transparent;
    &:before, &:after{
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg); 
              transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg); 
              transform: rotate3d(0,0,1,-45deg); 
    }
  }
}

//three-lines to x method 2
.lines-button.x2{
    .lines{
      transition: background .3s .5s ease;

      &:before, &:after{
        //set transform origin
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
        transition: top .3s .6s ease, -webkit-transform .3s ease;
        transition: top .3s .6s ease, transform .3s ease;
      }
    }
}

.lines-button.x2.close-menu{
  .lines {
    transition: background .3s 0s ease;
    background: transparent;

    &:before, &:after{
      transition: top .3s ease, -webkit-transform .3s .5s ease;//delay the formation of the x till the minus is formed  
      transition: top .3s ease, transform .3s .5s ease;//delay the formation of the x till the minus is formed  
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg); 
              transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg); 
              transform: rotate3d(0,0,1,-45deg); 
    }
  }
}

.choose-week {
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    li.circle-week {
      cursor: pointer;
      width: 11px;
      height: 11px;
      border: 2px solid #aaa;
      margin: 0 11px;
      border-radius: 100%;
      transition: .2s border-color ease;
      &:hover {
        border-color: #333;
      }
    }
  }
  div.add-week {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin-left: 11px;
  }
}