.scoreboard {
    background-color: #03070e;
    width: 100%;
    opacity: 0.9;
    z-index: 2147483647;
    position: relative;
    -webkit-backface-visibility: hidden;
    .sb.row {
		margin: 0 65px;
		height: 65px;
	}
    .scores, .clock {
		color: #fff;
		position: relative;
        top: 6px;
		.score-data-circle {
			float: left;
			&:last-child {
			    float: right;
			}
			.scoreboard-points {
				border: 2px solid #eee;
				border-radius: 100em;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 38px;
		    }
		    .scoreboard-time {
				border: 2px solid #eee;
				border-radius: 100em;
				width: 55px;
                height: 40px;
				text-align: center;
				line-height: 38px;
		    }
		}
		&.center {
			position: absolute;
			left: 0;
			right: 0;
			top: 12px;
			margin: auto;
			width: 0;
			text-align: center;

		}
	}
}