.scoreboard {
    background-color: #03070e;
    width: 100%;
    opacity: 0.9;
    z-index: 2147483647;
    position: relative;
    -webkit-backface-visibility: hidden;
    .sb.row {
		margin: 0 65px;
		height: 65px;
	}
    .scores, .clock {
		color: #fff;
        .half-button {
        	cursor: pointer;
			display: inline-block;
			border: 2px solid;
			width: 30px;
			height: 30px;
			line-height: 28px;
			margin-right: 15px;
			&.true {
				border-color: #7AC141
			}
        }
		.score-data-circle {
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			&:last-child {
			    right: 65px;
			    .team-timeouts {
					float: right;
					margin-left: 15px;
			    }
			    .scoreboard-points {
			    	float: right;
			    }
			    .team-fouls {
					display: inline-block;
					margin-right: 15px;
					float: left;
					margin-top: 10px;
					.bonus {
						float: left;
			    		margin-right: 20px;
			    	}
				}
			}
			.team-timeouts {
				float: left;
				margin-right: 15px;
				top: 9px;
				position: relative;
                z-index: 9999;
				.timeout-circle {
					margin: 10px 0;
					width:6px;
					height:6px;
					border:1px solid #FFE701;
					position: relative;
					cursor: pointer;
					&.true {
                        background-color:#FFE701;
					}
				}
			}
			.scoreboard-points {
				border: 2px solid #eee;
				border-radius: 100em;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 38px;
		    }
		    .team-fouls {
		    	display: inline-block;
		    	margin-left: 15px;
		    	.foul-circle {
		    		border-radius: 100em;
		    		background-color:#D2261E;
		    		border-color:#D2261E;
		    		width:6px;
		    		height:6px;
		    		border:1px solid transparent;
		    		position: relative;
		    		display: inline-block;
		    		margin: 0 2px;
		    	}
		    	.bonus {
		    		margin-left: 20px;
		    		opacity: 0;
		    		&.true {
		    			opacity: 1;
		    		}
		    	}
		    }
		    .scoreboard-time {
				border: 2px solid #eee;
				border-radius: 100em;
				width: 55px;
                height: 40px;
				text-align: center;
				line-height: 38px;
		    }
		}
		&.center {
			position: absolute;
			top: 50%;
			margin: 0 auto;
			float: none;
			transform: translate(0%, -50%);
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}