.scoreboard {
    background-color: #1e2224;
    bottom: 0;
    /* -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.18); */
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.18); */
    height: 70px;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 2147483647;
}