.the-teams {
	.team-block {
		color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 1px 1px 3px 3px;
        border-bottom: 4px solid;
	}
	.true { 
		box-shadow: inset 0 0 0 4px #0bf; 
	}
	.team-data {
		display: inline-block;
		margin-left: 25px;
		h1, h2, p {
			display: inline-block;
		}
		h1 {
			font-size: 50px;
		}
		h2 {
			font-size: 30px;
		}
	}
	.team-settings-btn {
		background-color: #0bf;
		border-color: #0BD;
		border-radius: 0;
		padding: 10px !important;
		color: #fff;
	}
}

.add-new-team {
	margin: 0 15px;
	.create-team-btn {
        border: 1px solid #4BA0F1;
		border-radius: 100em;
		margin-top: 15px;
		color: #4BA0F1;
	}
}