<div style="color: rgb(255, 255, 255); height: 45px; background-color: rgba(0, 0, 0, 0.7); position: fixed; z-index: 9; width: 100%; left: 0px;"></div>

<div id="feed-items">
    
    <div class="stellar" style="transform: translate3d(0px, 0px, 0px);">
		<div class="left-box" style="background-color: #393F4F;">
			<div data-stellar-ratio="0.4" class="base">
				<h1>Tony steals the ball</h1>
				<div style="background-image: url(&quot;http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/tony_parker.png&quot;); width: 100%; background-repeat: no-repeat; height: 185px; position: relative;">
				</div>
			</div>
		</div>
	</div>
	<div class="stellar" style="transform: translate3d(0px, 0px, 0px); z-index: -1;">
		<div class="right-box" style="background-color: rgb(255, 48, 19);">
			<div data-stellar-ratio="0.4" class="base">
				<h1>Derrick Made a Shot</h1>
				<div style="background-image: url(&quot;http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/derrick_rose.png&quot;); width: 100%; background-repeat: no-repeat; height: 185px; position: relative;"></div>
			</div>
		</div>
	</div>
	<div class="stellar" style="transform: translate3d(0px, 0px, 0px); z-index: -2;">
		<div class="left-box" style="background-color: #393F4F;">
			<div data-stellar-ratio="0.4" class="base">
			    <h1>Tony steals the ball</h1>
				<div style="background-image: url(&quot;http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/tony_parker.png&quot;); width: 100%; background-repeat: no-repeat; height: 185px; position: relative;"></div>
			</div>
		</div>
	</div>
	<div class="stellar" style="transform: translate3d(0px, 0px, 0px); top: -200px; z-index: -3;">
		<div class="right-box" style="background-color: rgb(255, 48, 19);">
			<div data-stellar-ratio="0.4" class="base">
				<h1>Derrick Made a Shot</h1>
				<div style="background-image: url(&quot;http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/derrick_rose.png&quot;); width: 100%; background-repeat: no-repeat; height: 185px; position: relative;"></div>
			</div>
		</div>
	</div>

</div>