<div class="app container">

    <div class="scroll-helper">
		<div class="home-boost"></div>
		<div class="line"></div>
		<div class="away-boost"></div>
	</div>

    <div class="col-md-10 teams-box" style="height: 674px; overflow: hidden;"></div>
	<div class="col-md-2 feed"></div>

</div>

<div class="scoreboard"></div>
