<div class="app container">

	<div class="col-md-1" style="position: relative; height: 674px;">
	    <div class=" scroll-helper">
			<div class="home-boost"></div>
			<div class="line"></div>
			<div class="away-boost active"></div>
		</div>
	</div>

    <div class="col-md-9 teams-box" style="height: 674px;"></div>
	<div class="col-md-2 feed"></div>

</div>

<div class="scoreboard"></div>
