<div class="leader" style="background-color: #fafafa; padding: 20px;">
    <div class="points-leader">
        {{#if maxPoints.attributes.player_picture}}
            <img src="{{maxPoints.attributes.player_picture}}" class="img-circle img-responsive" style="height: 65px; width: 65px; margin: auto;">
        {{else}}
            <img src="./img/default.jpg" class="img-circle img-responsive" style="height: 65px; width: 65px; margin: auto;"/> 
        {{/if}}
	    <div class="leader-points" style="text-align: center; padding: 20px;">
	        <span style="border: 2px solid transparent">{{maxPoints.attributes.player_name}}</span>
	        <h1 style="font-size: 50px; margin: 0;">{{maxPoints.attributes.points}}</h1> 
	        points
	    </div>
	</div>
</div>

<div class="" style="text-align: center;padding: 30px;background-color: #fff;">
    <button class="btn post-stats" style="border-radius: 100em; border: 1px solid;">Share this game?</button>
</div>

<canvas id="canvas" height="281" width="350"></canvas>