<div class="leader" style="height: 240px; background-color: #fafafa;">
    <div class="points-leader" style="padding: 50px;">
	    <img src="{{maxPoints.attributes.player_picture}}" class="img-circle img-responsive" style="height: 65px; width: 65px; margin: auto;">
	    <div class="leader-points" style="text-align: center; padding: 20px;">
	        {{maxPoints.attributes.player_name}}
	        <h1 style="font-size: 50px; margin: 0;">{{maxPoints.attributes.points}}</h1> 
	        points
	    </div>
	</div>
</div>

<div class="" style="text-align: center;padding: 30px;background-color: #fff;">
    <button class="btn" style="border-radius: 100em; border: 1px solid;">Share this game?</button>
</div>

<canvas id="canvas" height="341" width="350"></canvas>