<aside class="sidebar sidebar--light offscreen-left">
    <!-- main navigation -->
    <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <p class="nav-title">MENU</p>
        <ul class="nav">
            <!-- dashboard -->
            <li>
                <a href="/#">
                    <i class="ti-home"></i>
                    <span>Stat Tracker</span>
                </a>
            </li>
            <!-- /dashboard -->
        </ul>
        <p class="nav-title">MANAGE</p>
        <ul class="nav">
            <li>
                <a href="/#teams">
                    <div class="action-circle red"></div>
                    <span>Teams</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="action-circle orange"></div>
                    <span>Players</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="action-circle green"></div>
                    <span>Settings</span>
                </a>
            </li>
        </ul>

    </nav>
</aside>
