.team-editor {
	display: none;
	position: fixed;
	width: 70%;
	height: 70%;
	top: 0;
	margin: auto;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999;
	left: 0;
	box-shadow: 0 0px 1px 0 rgba(0,0,0,0.3);
	&.edit {
	    display: block
	}
}