<div class="col-md-12">
    <div class="add-new-team">
    <div class="col-md-6">
		<form id="AddTeam">
		    <input class="team_name" type="text" placeholder="add a new team" />
		    <button type="submit">ADD</button>
		</form> 
	</div>
	</div>
</div>