<!-- div to display teamCreator -->
<div class="new-team-editor"></div>

<!-- div to display teamCreator button -->
<div class="col-md-12">
    <div class="add-new-team">
		<button class="btn create-team-btn">+ create team</button>
	</div>
</div>

<!-- div to display all the teams -->
<div class="the-teams"></div>