<div class="statisticals col-xs-12">
    <div class="col-xs-3 column">
        {{team_name}}    
    </div>
    <div class="col-xs-2 column">
        <span class="short">Pts</span>
        <span class="long">Points</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Rbs</span>
        <span class="long">Rebounds</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Stl</span>
        <span class="long">Steals</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Blk</span>
        <span class="long">Blocks</span>
    </div>
    <div class="col-xs-1 column" style="padding: 0px;">
        <span class="short">Fls</span>
        <span class="long">Fouls</span>
    </div>
</div>

<div class="the-players {{team_name}} col-xs-12"></div>

<!-- <form id="AddPlayer">
    <input class="player_name" type="text" placeholder="add a player to this team" />
    <button type="submit">ADD</button>
</form> -->
