<div class="statisticals col-xs-12">
    <div class="col-xs-3 column">
        <div class="team-changes">
            <i class="ti-settings"></i>
        </div>
        <div class="team-name">
            <div style="background-color: {{team_color}};display: inline-block;width: 10px;border-radius: 100em;height: 10px;position: relative;left: -15px;"></div>
            {{team_name}}
        </div>    
    </div>
    <div class="col-xs-2 column">
        <span class="short">Pts</span>
        <span class="long">Points</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Rbs</span>
        <span class="long">Rebounds</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Stl</span>
        <span class="long">Steals</span>
    </div>
    <div class="col-xs-2 column">
        <span class="short">Blk</span>
        <span class="long">Blocks</span>
    </div>
    <div class="col-xs-1 column" style="padding: 0px;">
        <span class="short">Fls</span>
        <span class="long">Fouls</span>
    </div>
</div>

{{!-- <div class="test" style="background-color:{{team_color}};"></div> --}}

<div class="the-players {{team_name}} col-xs-12"></div>

<div class="team-editor"></div>
