<div class="team-editor">
	<div class="underlay" style="position:fixed;background-color: rgba(0,0,0,0.6);width: 100%;height: 100%;left: 0;top: 0;z-index: 99;"></div>
    
    <div class="edit">
		<div class="editor">
		    
		    <div class="close-team-editor"><i class="ti-close"></i></div>
		    <div class="go-back"><i class="ti-angle-left"></i></div>

		    <div class="">FORM AND STUFF TO Create A TEAM</div>

		</div>
	</div>
</div>
