<div class="underlay" style="position:fixed;background-color: rgba(0,0,0,0.6);width: 100%;height: 100%;left: 0;top: 0;z-index: 99;"></div>

<div class="editor">
    
    <!-- editor controls -->
    <div class="close-team-editor"><i class="ti-close"></i></div>
	<div class="go-back"><i class="ti-angle-left"></i></div>

    <!-- div to give user buttons to select if this team should be home or away -->
    <div class="set-team-side">
        <div class="col-md-6 home btn team-settings-btn">Home</div>
		<div class="col-md-6 away btn team-settings-btn">Away</div>
	</div>

    <!-- temp throw delete button here -->
    <div class="delete-player">
        <button class="btn btn-danger delete" style="color: #d43d3a;background-color: transparent;border-color: #d43d3a;border-radius: 100em;">Delete</div>
    </div>
    
    <!-- div to display a management region, displays views for the user to edit roster -->
	<div class="manage-team-area col-md-12"></div>

</div>
