<span class="close-team-editor">X</span>

<div class="col-md-12">
    <div class="add-new-player">
    <div class="col-md-6">
		<form id="AddPlayer">
		    <input class="player_name" type="text" placeholder="add a player to the {{team_name}}" />
		    <button type="submit">ADD</button>
		</form> 
	</div>
	</div>
</div>