{{!-- <span class="close-team-editor">X</span>
<form id="AddPlayer">
    <input class="player_name" type="text" placeholder="add a player to this team" />
    <button type="submit">ADD</button>
</form> --}}

<div class="row add-player"></div>

<div class="row sub-players">
    <div class="col-md-6 playing-players"></div>
	<div class="col-md-6 bench-players"></div>
</div>
