<div class="row add-player"></div>

<div class="row row-remove-padding sub-players">
    <div class="col-md-6" style="border-right: 1px solid #F1F2F4;">
    	<p>Playing</p>
    	<div class="playing-players"></div>
    </div>
    <div class="col-md-6">
    	<p>Bench</p>
    	<div class="bench-players"></div>
    </div>
</div>
