<div class="player">

    <div class="col-xs-6 column stat name">

        <span class="column face">
            <img src="{{player_picture}}" class="player-image img-responsive"/>
        </span>

        <div class="column the-name subbing-name">
            <span> {{player_name}} </span>
        </div>

    </div>

    <div class="col-xs-6 column stat data makes-misses">
        <div class="active-add-stat">
            <span class="points">{{points}}</span>
        </div>
    </div>
</div>    
