<div class="sub-players">
    <div class="col-md-6" style="border-right: 1px solid #F1F2F4;">
    	<div class="playing-players"></div>
    </div>
    <div class="col-md-6">
    	<div class="bench-players"></div>
    </div>
</div>