<div class="underlay" style="position:fixed;background-color: rgba(0,0,0,0.6);width: 100%;height: 100%;left: 0;top: 0;z-index: 99;"></div>

<div class="editor">
    
    <div class="close-team-editor"><i class="ti-close"></i></div>
	{{!-- <div class="go-back"><i class="ti-angle-left"></i></div> --}}

    <div class="player-addition-actions">
        <div class="col-md-1 player-addition-button go-back" style="color: #fff;background-color: {{team_color}}"><i class="ti-angle-left"></i></div>
        <div class="col-md-5 player-addition-button add-player">Create Player</div>
	    <div class="col-md-6 player-addition-button list-facebookers">Facebook Player</div>
    </div>

	{{!-- <div class="sub-players">
	    <div class="col-md-6" style="border-right: 1px solid #F1F2F4;">
	    	<div class="playing-players"></div>
	    </div>
	    <div class="col-md-6">
	    	<div class="bench-players"></div>
	    </div>
	</div>

	<div class="">
		<div class="col-md-12">
	    	<div class="facebook-players"></div>
	    </div>
	</div> --}}

	<div class="manage-players-area col-md-12"></div>

</div>
