.hover .player-image {
}
.hover-clicked .player-image {
}
.clicked-data-open .player-image { 
}
.player-image {
	position: absolute;
    bottom: 0;
    margin: auto;
    height: 65px;
    width: 65px;
}
.clicked-data-open .player-image:before {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.player-data .player-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100em;
    bottom: 0;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    height: 80px;
    left: 0;
    margin: auto;
    max-height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;

    span {
    	display: none;
    }
}
.player-data .player-image.image-hover:before {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.player-data .player-image.image-hover {
    span {
    	color: #FFFFFF;
	    display: block;
	    line-height: 65px;
	    position: relative;
	    text-align: center;
    }
}